body {
  background: yellow;
}

#header {
  border: 2px solid black;
  background: blue;
  height: 150px;
}

#nav {
  border: 2px solid black;
  background: green;
  height: 50px;
}

#content {
  border: 2px solid black;
  background: red;
  height: 200px;
}

#aside {
  border: 2px solid black;
  background: cyan;
  height: 200px;
}

#promo {
  border: 2px solid black;
  background: orange;
  height: 150px;
}

#footer {
  border: 2px solid black;
  background: black;
  height: 50px;
  font: white;
}

@media screen and (max-width:786px) {
#header, #nav, #content, #aside, #promo, #footer {
  background: purple;
}
body {
  background: white;
}
}

@media screen and (max-width:480px) {
#header, #nav, #content, #aside, #promo, #footer {
  background: pink;
}
body {
  background: black;
}
}
